{% extends 'base.html.twig' %}

{% block title %}Список курсов / StudyOn{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
    <h1>Список курсов</h1>
        <div class="flex-row d-flex align-content-between">
        {% for course in courses %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        {% if course.lessons | length | number_format(1) >= 5 or course.lessons | length | number_format(2) == 11 %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.lessons | length }} уроков </h6>
                        {% elseif course.lessons | length | number_format(1) >= 2 %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.lessons | length }} урока </h6>
                        {% else  %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.lessons | length }} урок</h6>
                        {% endif %}
                        <p class="card-text">{{ course.description }}</p>
                        <a href="{{ path('app_course_show', {'id': course.id}) }}" class="card-link">Перейти</a>
                    </div>
                </div>
        {% else %}
        </div>
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
        {% endfor %}

    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-success" href="{{ path('app_course_new') }}">Создать новый курс</a>
    {% endif %}
{% endblock %}
