{% extends 'base.html.twig' %}

{% block title %}Список курсов / StudyOn{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
    <h1>Список курсов</h1>
        <div class="d-flex align-content-start flex-wrap">
        {% for course in courses %}
                <div class="card  m-2 col-3" style="width: 35rem;">
                    <div class="card-body">
                        <a href="{{ path('app_course_show', {'id': course.id}) }}">
                            <h5 class="card-title text-muted">{{ course.name }}</h5>
                        </a>
                        {% if course.lessons | length | number_format(1) >= 5 or course.lessons | length | number_format(2) == 11 %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.lessons | length }} уроков </h6>
                        {% elseif course.lessons | length | number_format(1) >= 2 %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.lessons | length }} урока </h6>
                        {% else  %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ course.lessons | length }} урок</h6>
                        {% endif %}
                        <p class="card-text">{{ course.description }}</p>
                        {% if is_granted('ROLE_USER') %}
                            {% if transactions[course.code] is defined and transactions[course.code] is not empty  %}
                                {% if transactions[course.code]['type'] == 'buy' %}
                                    <h6 class="card-subtitle mb-2 text-success h3">Курс куплен</h6>
                                {% elseif transactions[course.code]['type'] == 'rent' %}
                                    <h6 class="card-subtitle mb-2 text-success h3">Курс аредован до {{ transactions[course.code]['expires_at']|date }}</h6>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
        {% else %}
        </div>
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
        {% endfor %}

    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-success" href="{{ path('app_course_new') }}">Создать новый курс</a>
    {% endif %}
{% endblock %}
