{% extends 'base.html.twig' %}

{% block title %}{{ course.title }} / StudyOn{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="mt-2 alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="mt-2 alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    <h1>{{ course.title }}</h1>
        <div class="list-group">
            {% for lesson in course.lessons | sort((a, b) => a.serialNumber <=> b.serialNumber) %}
                {% if is_granted('ROLE_USER') and owned == true %}
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}" class="mb-1 list-group-item list-group-item-action">
                {% else %}
                    <a class="mb-1 list-group-item list-group-item-action">
                {% endif %}
                        {{ lesson.serialNumber }}. {{ lesson.name }}
                </a>
            {% endfor %}
        </div>

        <div class="flex-column d-flex" >
            <a class="btn-success btn mb-2"  href="{{ path('app_course_index') }}">К списку курсов</a>
            {% if owned == false %}
                <a data-toggle="modal" data-target="#exampleModal"
                    {% if disabled == true %}
                        class="btn-success btn mb-2 disabled" aria-disabled="true"
                    {% else %}
                        class="btn-success btn mb-2 "
                    {% endif %}
                >Купить курс</a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Подтвердите покупку</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите приобрести этот курс?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <form action="{{ path('app_course_buy', {'id': course.id}) }}" method="POST">
                                    <button type="submit" class="btn btn-primary">
                                    Приобрести доступ к курсу
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn-success btn mb-2" href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать содержимое курса</a>
                <a class="btn-success btn mb-2" href="{{ path('app_lesson_new', {'id': course.id}) }}">Добавить урок</a>
                {{ include('course/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
