{% extends 'base.html.twig' %}

{% block title %}{{ course.name }} / StudyOn{% endblock %}

{% block body %}
    <div class="container">
    <h1>{{ course.name }}</h1>
        <div class="list-group">
            {% for lesson in course.lessons | sort((a, b) => a.serialNumber <=> b.serialNumber) %}
                <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}" class="mb-1 list-group-item list-group-item-action">
                    {{ lesson.serialNumber }}. {{ lesson.name }}
                </a>
            {% endfor %}
        </div>

        <div class="flex-column d-flex" >
            <a class="btn-success btn mb-2" href="{{ path('app_course_index') }}">К списку курсов</a>
            <a class="btn-success btn mb-2" href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать содержимое курса</a>
            <a class="btn-success btn mb-2" href="{{ path('app_lesson_new', {'id': course.id}) }}">Добавить урок</a>
            {{ include('course/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
