{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Course</th>
                <td><a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ lesson.content }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
